<p class="col-md-11 text-right" *ngIf="addedRoomCollection.length <= 0">
  Commencez par ajouter une pièce
  <img style="vertical-align: text-bottom; width: 120px;" src="assets/arrow-begin.svg" />
</p>

<div class="col-md-12 panel-room-collection" *ngIf="addedRoomCollection.length > 0">
  <div class="panel-room row" *ngFor="let room of addedRoomCollection">

    <div class="col-md-12 panel-room-title">

      <div class="text-center" style="width:5%;">
        <button type="button" class="panel-room-title-action" (click)="showHideRoomDeleteDialogBox(room, true)">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-trash fa-stack-1x"></i>
          </span>
        </button>
      </div>
      <div class="panel-room-title-info">
        {{room.name}}
      </div>
      <div>
        Nombre de biens : <b>{{room.itemQuantity}}</b> &nbsp; | &nbsp; Volume: <b>{{room.volume}}</b> m<sup>3</sup>
      </div>
      <div class="text-center">
        <button type="button" class="panel-room-title-action" (click)="showHide(room)">
          <span class="fa" ></span>
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa-stack-1x fa" [ngClass]="(room.isFocused) ? 'fa-chevron-up' : ' fa-chevron-down'"></i>
          </span>
        </button>
      </div>
      <div class="delete-room-box" *ngIf="room.displayDeleteBox" [@displayRoomDeleteBox]>

        <div class="text-left delete-room-box-ask">
          SUPPRIMER ?
        </div>
        <div class="text-center delete-room-box-ok" (click)="removeRoom(room)">OUI</div>
        <div class="text-center delete-room-box-cancel" (click)="showHideRoomDeleteDialogBox(room,false)">NON</div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="room.isFocused"  style="overflow: hidden;" >
      <div [@displayRoomInventory]>
      <app-room (newItemCreated)="passItemToParent($event)" [room]="room"></app-room>
      </div>
    </div>
  </div>
</div>
