 .item-collection
    /*margin:0 auto;*/
    list-style-type: none
    padding: 2em
    display: inline-flex
    flex-flow: row wrap
    justify-content: flex-start
    width: 100%

.query
    border: none
    border-top: 1px solid lightgrey
    border-bottom: 1px solid lightgrey
    border-bottom-right-radius: 0
    transition: all 300ms ease-in
    &:focus
        border-bottom: 2px solid grey
.search-panel
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    overflow: hidden
    