violet-dahlia = #4c448f
magenta-persan = #e54380

//Quadrichromie
first-quadri = #9857bd
second-quadri = #322e64
third-quadri = #17bdcf
fourth-quadri = #333333
.summary-section
    color: magenta-persan
    font-size: 2em
.summary
    background-color: white
    color: fourth-quadri
    margin-bottom: 5px
    border-radius: 5px
    border-bottom: 2px solid second-quadri

.volume-value
    background-color: white
    padding: 50px 10px 10px 0
    border-radius: 10px
    font-size: 3em
    color: violet-dahlia
    border-bottom: 5px solid violet-dahlia
.summary-room-title
    color: white
    background-color: violet-dahlia
    padding: 10px
    text-align: center
    border-radius: 5px 5px 0 0

.summary-room-detail
    padding: 5px
    list-style: none
    display: flex
    flex-flow: column nowrap
.summary-item
    font-size: 10px
    display: inline-flex
    justify-content: space-between
    margin-top: 5px
    &:first-child
        margin-top: 0

.summary-item-name
    font-weight: bold
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    width: 50%
    padding: 5px 0

.summary-item-quantity-value
    font-weight: bold
    display: inline-block
    padding: 0 5px
.btn-default
    padding: 5px 10px
    font-size: 10px
