<div class="row">
  <div class="col-md-12">

    <h4 class="summary-section">VOLUME TOTAL</h4>
  </div>
</div>
<div class="row text-right form-group">
  <div class="col-md-12">

    <h2 class="volume-value">{{volume}} m<sup>3</sup></h2>
  </div>
</div>
<div *ngIf="volume > 0">
  <div class="row">
    <div class="col-md-12">
      <h4 class="summary-section">DETAIL</h4>
    </div>
  </div>
  <div class="row" *ngFor="let room of roomCollection">
    <div class="col-md-12">
      <div class="summary">
        <h5 class="text-left summary-room-title"><b>{{room.name}}</b></h5>
        <ul class="summary-room-detail">
          <li class="summary-item" *ngFor="let item of room.inventoryForSummary">
            <span class="summary-item-name">{{item.name}}</span>
            <span class="summary-item-quantity">
             <button class="btn btn-default" type="button" (click)="removeOne(room, item)"><i class="fa fa-minus"></i></button>
             <span class="summary-item-quantity-value">{{item.quantity}}</span>
             <button type="button" class="btn btn-default" (click)="addOne(room, item)"><i class="fa fa-plus"></i></button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
