//  ***********
//   Variables
//  ***********

//Logotype
violet-dahlia = #4c448f
magenta-persan = #e54380

//Quadrichromie
first-quadri = #9857bd
second-quadri = #322e64
third-quadri = #17bdcf
fourth-quadri = #333333

.inventory-section, .summary-section
    background-color: lighten(first-quadri, 85%)
    margin-right: -12px
    margin-left: -12px
    border-radius: 5px
.inventory-section
    min-height: 150px


.room-list
    list-style: none