<li class="item media" (click)="addElement($event)">
  <div class="media-left">

    <img src="https://www.emoovz.com/uploads/item/images/57ca2acbe28edeb7b366b88957920de31872af93.png" />
  </div>
  <div class="media-body">
    <h5 class="media-heading"><b>{{inventoryItem.name}}</b></h5>
    <p>
      <span class="item-info">{{inventoryItem.length}}&times;{{inventoryItem.height}}&times;{{inventoryItem.depth}}</span>
      <span class="item-legend">(l&times;h&times;L)</span>
    </p>
  </div>
  <div class="item-quantity">
    <button (click)="removeElement($event)" class="btn btn-default" type="button"><i class="glyphicon glyphicon-minus"></i></button>
    <input (focusin)="inputEnter()" (focusout)="inputOut()" (click)="$event.stopPropagation();" [(ngModel)]="inventoryItem.quantity" />
    <button (click)="addElement($event)" type="button" class="btn btn-default" ><i class="glyphicon glyphicon-plus"></i></button>
  </div>
 
  <div class="delete-item-box" *ngIf="displayDeleteBox" [@displayDeleteBox] (click)="$event.stopPropagation();">

    <div class="text-center delete-item-box-ask">
      SUPPRIMER ?
    </div>
    <div class="delete-item-box-confirm">
      <div class="text-center delete-item-box-ok" (click)="deleteConfirm($event)">OUI</div>
      <div class="text-center delete-item-box-cancel" (click)="deleteCancel($event)">NON</div>
    </div>
  </div>
</li>
