 //  ***********
//   Variables
//  ***********

//Logotype
violet-dahlia = #4c448f
magenta-persan = #e54380

//Quadrichromie
first-quadri = #9857bd
second-quadri = #322e64
third-quadri = #17bdcf
fourth-quadri = #333333

.item
    cursor: pointer;
    padding: .3em;
    margin: 1.5em;
    background-color: white;
    width: 210px;
    height: 130px
    box-shadow: 0 0 2px lighten(second-quadri, 65%);
    border-radius: 3px;
    position: relative;
    border-left: 4px solid white
    transition: all 200ms ease-out
    &:hover
        //box-shadow: 0 0 10px second-quadri
        border-left: 4px solid violet-dahlia

  .item-etiq {
    display: inline-block;
    vertical-align: top;
    padding-left: .2em;
    width: 150px;
  }
  .item-name {
    font-weight: bold;
  }
  .item-info {
  color: lightslategray;
    font-size: .8em;
  }
  .item-legend {
    color: lightslategray;
    font-size: .8em;
    font-style: italic;
  }

  img {
      width: 40px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
  }

  .item-quantity {
    text-align: center;
    position: absolute
    bottom: 5px;
    width: 100%
  }

  .item-quantity input
    display: inline-block;
    text-align: center;
    width: 3em;
    border: none
    outline: none
    &:focus
        border-bottom: 2px magenta-persan solid

  .delete-item-box
      position: absolute
      display: flex
      flex-flow: column nowrap
      color: white
      height: 100%
      width: 100%
      top: 0
      left: 0
      cursor: default
  .delete-item-box-ask
      background-color: #dadada
      height: 50%
      padding-top: 10%
      font-weight: bolder
  .delete-item-box-confirm
      display: inline-flex
      align-items: stretch
      height: 50%
  .delete-item-box-ok
      background-color: rgb(000, 158, 015)
      padding-top: 10%
      width: 50%
      height: 100%
      transition: all 200ms ease-in
      cursor: pointer
      &:hover {
          background-color: darken(rgb(000, 158, 015), 15%)
          box-shadow: 0 0 10px rgb(000, 158, 015)
          z-index: 9999
      }
  .delete-item-box-cancel
      background-color: rgb(207, 042, 039)
      padding-top: 10%
      width: 50%
      height: 100%
      cursor: pointer
      transition: all 200ms ease-in
      &:hover {
          background-color: darken(rgb(207, 042, 039), 15%)
          box-shadow: 0 0 10px rgb(207, 042, 039)
          z-index: 9999
      }