/* You can add global styles to this file, and also import other style files */

//  ***********
//   Variables
//  ***********

//Logotype
violet-dahlia = #4c448f
magenta-persan = #e54380

//Quadrichromie
first-quadri = #9857bd
second-quadri = #322e64
third-quadri = #17bdcf
fourth-quadri = #333333

*
    font-family: 'Lato', sans-serif

.top
    background-color: magenta-persan
    height: 70px;
.bottom
    background-color: violet-dahlia
    height: 20px
h1
    color: fourth-quadri

.row
    margin-left: -5px
    margin-right: -5px